.styled-text-area, .code-area {
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 13pt;
}

.keyword {
    -fx-fill: #0000c0;
    -fx-font-weight: bold;
}

.paren, .brace, .bracket, .semicolon {
    -fx-fill: #444444;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #008000;
}

.comment {
    -fx-fill: #808080;
    -fx-font-style: italic;
}
