# =====================
# IDE
# =====================

# IntelliJ IDEA
.idea
*.iml
*.iws

# NetBeans
nbproject/private/
nbactions.xml

# Eclipse
.settings/
.classpath
.project

# =====================
# Maven / Build
# =====================
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/release.properties

# =====================
# Resource
# =====================
/src/main/resources/images/new/

# =====================
# Backup / Temp / Logs / ETC
# =====================
/backup/
*.log
*.tmp
*.swp       # Vim swap files
.DS_Store   # macOS